# Web API / Port Configuration
PORT=8000
BACKEND_PORT=8000
FRONTEND_PORT=5173
FRONTEND_PREVIEW_PORT=4173
HOST=0.0.0.0

# Seller profile defaults
SELLER_NAME="JMP – Feinguss & Metalltechnik GmbH"
SELLER_LINE_ONE="Ruhlsdorfer Chaussee 31"
SELLER_POST_CODE="14943"
SELLER_CITY_NAME="Luckenwalde"
SELLER_TAX_ID="DE815484600"
SELLER_TAX_NUMBER="050/111/02842"
SELLER_IBAN="DE97160620082104401500"
SELLER_BIC="GENODEF1LUK"
SELLER_HRB="HRB 26803, Amtsgericht Potsdam"
SELLER_SIGNATORY="Karsten Heimburger"
SELLER_SIGNATORY_TITLE="Geschäftsführer"
SELLER_PHONE_NUMBER="+49(0)3371/68939-20"
SELLER_FAX_NUMBER="+49(0)3371/68939-29"
SELLER_EMAIL_ADDRESS="billing@jmp-feinguss.de"
SELLER_BANK_NAME="VR-Bank Fläming e.G."
